* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #29a6dc;
    background-image: url(img/photo1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 800px;
    color: white;
    font-family: "Saira Condensed", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
}

header h1 {
    font-weight: 700;
    font-size: 120px;
}

h2.bold {
    font-weight: 700;
    font-size: 60px;
}

h2.reg {
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 40px;
    position: relative;
    bottom: 20px;
}

header div button {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 90px;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    padding: 10px 30px;
    background-color: inherit;
}

header div button:hover {
    color: #111;
    background-color: white;
}

header div.header {
    position: absolute;
    top: 150px;
    left: 105px;
}

article {
    font-family: "Saira Condensed", sans-serif;
    font-style: normal;
    text-align: center;
    margin-bottom: 60px;
}

article h2 {
    text-align: center;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
}

article section {
    width: 26%;
    float: left;
    padding: 30px;
    margin: 20px;
}

article section img {
    width: 375px;
    height: 225px;
    margin-bottom: 30px;
}

article section:nth-child(1) {
    margin-left: 85px;
}

article section:nth-child(3) {
    margin-right: 85px;
}

article section h3 {
    font-weight: 700;
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

article section p {
    font-weight: 300;
    font-size: 21px;
}