* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Saira Condensed", sans-serif;
    font-style: normal;
    color: white;
}

header {
    background: rgb(41, 166, 220) url(img/photo1.png) no-repeat right / contain;
    height: 800px;
    position: relative;
}

header h1 {
    font-weight: 700;
    font-size: 120px;
}

h2.bold {
    font-weight: 700;
    font-size: 60px;
}

h2.reg {
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 40px;
    position: relative;
    bottom: 20px;
}

header div button {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 90px;
    border: 1px solid white;
    font-size: 40px;
    letter-spacing: 2px;
    padding: 10px 30px;
    background-color: inherit;
}

header div button:hover {
    color: #111;
    background-color: white;
}

header div.header {
    position: absolute;
    top: 150px;
    left: 105px;
}

header article {
    font-family: "Saira Condensed", sans-serif;
    font-style: normal;
    text-align: center;
    margin-bottom: 60px;
}




/* ARTICLE */
article h2 {
    text-align: center;
    margin: 40px;
    font-weight: 700;
    font-size: 60px;
    color: black;
}

article section {
    width: 26%;
    float: left;
    padding: 30px;
    margin: 20px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

article section img {
    width: 375px;
    height: 225px;
    margin-bottom: 30px;
}

article section:nth-child(1) {
    margin-left: 105px;
}

article section h3 {
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 25px;
    color: black;
}

article section p {
    font-weight: 300;
    font-size: 21px;
    color: black;
}





/* MAIN */
main {
    background-color: #1e1e1e;
    padding-bottom: 30px;
}

main h2 {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    padding: 30px;
}

main article {
    width: 1000px;
    height: 282px;
    margin: 0 auto 40px;
}

main article div {
    width: 50%;
    float: left;
}

main article img {
    width: 100%;
}

.orange {
    background-color: #ff4f2c;
    height: 282px;
}

.blue {
    background-color: #0170ba;
    height: 282px;
}

main article div h3 {
    margin: 20px 20px;
    font-weight: 400;
    font-size: 36px;
    border-bottom: 1px solid white;
}

main article div p {
    padding: 10px;
    font-size: 18px;
    width: 85%;
    margin: 0 auto;
}






/* MOTTO */
#motto {
    background-image: url(img/motto.jpg);
    background-size: cover;
    background-position: top;
    height: 770px;
}

#motto h2 {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    padding-top: 90px;
}

#motto h3 {
    width: 65%;
    margin: 15px auto;
    text-align: center;
    padding-top: 70px;
    font-size: 38px;
    font-weight: 400;
}

#motto h4 {
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}